nav a{
    color: rgb(233, 28, 28);
    text-decoration: none;
}
.blue{
    color: #000;
}
section a{
    color: red;
    text-decoration: none;
} 
section a{
    color: blue;
    text-decoration: none;
} 